#include "version.hpp"

1 VERSIONINFO
FILEVERSION PLUGIN_VERSION_MAJOR, PLUGIN_VERSION_MINOR, PLUGIN_VERSION_BUILD, 0
PRODUCTVERSION PLUGIN_VERSION_MAJOR, PLUGIN_VERSION_MINOR, PLUGIN_VERSION_BUILD, 0
FILEOS 4
FILETYPE 2
{
    BLOCK "StringFileInfo"
    {
        BLOCK "000004E4"
        {
            VALUE "CompanyName", PLUGIN_AUTHOR "\000\000"
            VALUE "FileDescription", PLUGIN_DESC "\000"
            VALUE "FileVersion", MAKEPRODUCTVERSION(PLUGIN_VERSION_MAJOR, PLUGIN_VERSION_MINOR, PLUGIN_VERSION_BUILD) "\000"
            VALUE "InternalName", PLUGIN_NAME "\000"
            VALUE "LegalCopyright", PLUGIN_COPYRIGHT "\000\000"
            VALUE "OriginalFilename", PLUGIN_FILENAME "\000"
            VALUE "ProductName", PLUGIN_NAME "\000"
            VALUE "ProductVersion", MAKEPRODUCTVERSION(PLUGIN_VERSION_MAJOR, PLUGIN_VERSION_MINOR, PLUGIN_VERSION_BUILD) "\000"
        }

    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0, 0x4e4
    }

}
